*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(136, 25, 169); */
}

.img-div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
